Defesa_Raphael_Figueiredo_Final.pdf
/coding
*.zip
*.DS_Store
/references
*.ipynb_checkpoints*
*.aux
*.idx
*.loa
*.log
*.lot
*.lof
*.out
*.toc
*.acn
*.glo
*.ist
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.ilg
*.ind
*.synctex.gz
*.dvi
*.bcf
*.nav
*.run.xml
*.snm
